@page
@model HesabuPOS.Webinterface.Pages.ProductsModel
@{
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HesabuPOS - Products</title>
    <link rel="stylesheet" href="css/Products.css" asp-append-version="true" />
</head>

<table class="productsTable table">
    <thead>
        <tr>
            <td>Image</td>
            <td>ID</td>
            <td>Name</td>
            <td>Description</td>
            <td>Price</td>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Products) {
        <tr>
            <td>
                <img width="140" height="140" src="@Html.DisplayFor(modelItem => item.ImageURL)"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
        </tr>
}
    </tbody>
</table>